body {
  font-family: Arial, sans-serif;
  font-size: 1vw;
}

#root{
  background-color: #2b2b2b;
  color: #fff;
  min-height: 100svh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
